@import url('https://fonts.googleapis.com/css?family=Pirata+One|Rubik:900');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #337ab7;;
}
h1 {
    text-transform: Uppercase;
    margin-bottom: .5em;
    font-family: 'monospace', sans-serif;
    font-size: 6rem;
    color: #E4E5E6; }

h1 {
    position: relative;
    background: linear-gradient(to right, #E4E5E6, #E4E5E6, #E4E5E6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }


